<!-- Custom head content -->
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<meta name="facebook-domain-verification" content="vng1rahcsd8i30bx1z2il53s0i1wp9" />
<link rel="stylesheet" href="/css/styles.css" />
<link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600;700&display=swap" rel="stylesheet">

<!-- Standard favicon for most browsers -->
<link rel="icon" type="image/x-icon" href="/images/favicon/favicon.ico">

<!-- Favicons for different sizes (PNG format) -->
<link rel="icon" type="image/png" sizes="16x16" href="/images/favicon/favicon-16x16.png">
<link rel="icon" type="image/png" sizes="32x32" href="/images/favicon/favicon-32x32.png">

<!-- Apple Touch Icon for iOS devices -->
<link rel="apple-touch-icon" sizes="180x180" href="/images/favicon/apple-touch-icon.png">

<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-3121428457842525"
    crossorigin="anonymous"></script>