<header>
    <nav>
        <ul>
            <li>
                <a href="{{ site.baseurl }}/" class="nav-logo">
                    <img src="{{ site.baseurl }}/images/favicon/apple-touch-icon.png" alt="Logo" class="profile-pic">
                </a>
            </li>
            <li><a href="{{ site.baseurl }}/#about">About</a></li>
            <li><a href="https://blog.allensandiego.com">Blog</a></li>
            <li><a href="{{ site.baseurl }}/#projects">Projects</a></li>
            <li><a href="{{ site.baseurl }}/#skills">Skills</a></li>
            <li><a href="{{ site.baseurl }}/#contact">Contact</a></li>
        </ul>
    </nav>
</header>
