<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">

<head>
  {% include head-custom.html %}
  {% seo %}
</head>

<body>

  {% include nav-header.html %}

  {{ content }}

  <footer>
    {% include footer.html %}
  </footer>

  <!-- Optional script loading -->
  {% if site.static_files %}
    {% for file in site.static_files %}
      {% if file.path == "/script.js" %}
        <script src="{{ site.baseurl }}/script.js"></script>
      {% endif %}
    {% endfor %}
  {% endif %}
</body>

</html>
